## Feature Scaling

1. standard scaling(data is centered around 0.)

2. min-max scaling(data is scaled between 0 and 1)

3.

### Standard Scaler

In [7]:
# import libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [12]:
# making dataset

df = {
    'age':[25,30,35,40,45],
     'height': [165,170,175,180,185],
     'weight': [55,60,65,70,75]}


# convert the data into pandas dataframe

df = pd.DataFrame(df )
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

### scaling data on standard dcaler

In [6]:
# import the scaler

scaler = StandardScaler()

# fit the scaler on data
scaled_df = scaler.fit_transform(df)

scaled_df

array([[-1.41421356, -1.41421356, -1.41421356],
       [-0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356,  1.41421356]])

In [9]:
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)

scaled_df.head()

        age    height    weight
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

In [11]:
from sklearn.preprocessing import MaxAbsScaler, MinMaxScaler

In [14]:
# using minmax scaler
scaler = MinMaxScaler()

# fit the scaler on data

scaled_df = scaler.fit_transform(df)
scaled_df

# convert data to pandas dataframe

scaled_df = pd.DataFrame(scaled_df , columns=df.columns)

scaled_df.head()

    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

###  Max ABS scaler

In [17]:
# import the scaler

scaler = MaxAbsScaler()

# fit the scaler ob data

scaled_df = scaler.fit_transform(df)

scaled_df

# convert data into pandas data frame

scaled_df = pd.DataFrame(scaled_df, columns=df.columns)

scaled_df.head()

        age    height    weight
0  0.555556  0.891892  0.733333
1  0.666667  0.918919  0.800000
2  0.777778  0.945946  0.866667
3  0.888889  0.972973  0.933333
4  1.000000  1.000000  1.000000